* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #DDDDDD;
}

.title {
    background-color: white;
    height: 50px;
    line-height: 50px;
    padding-left: 1rem;
}

.title>h1 {
    color: #29B1DD;
}

.filterSelector {
    background-color: #29B1DD;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 1.3rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: white;
    width: calc(100% / 7);
    height: 100px;
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 1px 1px black;
}

.icon_blue>i {
    color: blue;
}

.icon_orange>i {
    color: orange;
}

.icon_purple>i {
    color: purple;
}